@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* { margin: 0; padding: 0; }

/* 나눔고딕 font-weight; 400 - Regular, 700 - Bold, 800 - Extrabold */
*:not(font) { font-family: 'Nanum Gothic', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif; }

#wrap { width:940px; margin:0 auto; }

#topQuickmenu { list-style: none; float:right ;}
#topQuickmenu:after { clear:both; }
#topQuickmenu li { float:left; }

#topQuickmenu a:link, #topQuickmenu a:visited, #topQuickmenu a:active {

	text-decoration: none;
	font-size:12px;
	color:#ffffff;
	display:block;
	background-image: url('../images/quick_arrow_n.gif');
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #283a57;
	margin-left:5px;
	padding:8px 15px 6px 15px ;

 }

 #topQuickmenu a:hover {
 	background-color: #939cab;
 	background-image: url('../images/quick_arrow_h.gif');
 }
